@import "./Variables.scss";
@import "./Common.scss";
@import "../../../node_modules/bootstrap";

$listHeight: 500px;

.ui-list-flex-container {
  @extend .d-flex;
  @extend .justify-content-center;
}

.ui-list-wrapper {
  @extend .shadow-sm;
  @extend .ui-element-bg-dark;
  @extend .p-0;
  border-radius: $uiElementBorderRadius;
}

.ui-side-list-wrapper {
  @extend .pl-0;
  @extend .pr-0;
  @extend .pt-1;
  @extend .pb-1;
  @extend .mr-1;
  border-radius: $uiElementBorderRadius;
}

.ui-list-header {
  @extend .text-white;
  @extend .p-2;
  @extend .mb-0;
}

.ui-list-header {
  border-bottom-color: $uiElementInputColor;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.ui-list-dark {
  @extend .list-group;
  overflow: auto;
  max-height: $listHeight;
  min-height: 500px;
}

.ui-list-item-dark {
  @extend .list-group-item;
  @extend .rounded-0;
  @extend .shadow-sm;
  @extend .text-white;
  @extend .ui-element-bg-dark;
  &:not(.ui-selected):hover {
    background-color: $uiElementHoverBgColor;
  }
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: "";
    position: absolute;
    left: 1%;
    bottom: 0;
    height: 1px;
    width: 98%;
    border-bottom: 1px solid $uiElementInputColor;
  }
  border: 0;
  margin-top: 3px;
}

.ui-side-list-item-dark {
  @extend .list-group-item;
  @extend .rounded-0;
  @extend .shadow-none;
  @extend .text-white;
  @extend .py-1;
  @extend .ui-element-bg-dark;
  &:hover {
    background-color: $uiElementHoverBgColor;
    cursor: pointer;
  }
  &:active {
    background-color: $uiElementActiveBgColor;
  }
  border: 0;
  span {
    @extend .mr-2;
  }
}

.ui-disabled {
  background-color: $uiElementBasicBgColor !important;
  color: $uiElementDisabledColor !important;
}
