$primaryColor: #ffffff;
$uiBgColor: #121212;
$uiElementBasicBgColor: #181818;
$uiElementActiveBgColor: #323232;
$uiElementHoverBgColor: #454545;
$uiElementBorderColor: #212121;
$uiElementDisabledColor: #aaaaaa;
$primaryColor: #6200ee;

//bootstrap theme override
$primary: #6200ee;
