$primaryColor: #ffffff;
$uiBgColor: #303030;
$uiElementBasicBgColor: #393939;
$uiElementActiveBgColor: #323232;
$uiElementHoverBgColor: #454545;
$uiElementBorderColor: #ffffff1c;
$primaryColor: #0275d8;
