@import "../../../node_modules/bootstrap";
@import "../../Common/styles/Variables.scss";

.ui-login-card {
  @extend .col-sm-12;
  @extend .card;
  max-width: 400px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: $uiElementBasicBgColor;

  input {
    background-color: $uiElementBorderColor;
    border: 0;
    &:focus {
      background-color: $uiElementBorderColor;
      color: white;
    }
  }
}

.ui-input-icon {
  @extend .input-group-text;
  width: 40px;
  background-color: $primaryColor;
  color: black;
  border: 0 !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui-login-remember-me {
  color: white;
  margin-left: 20px;
}

.links {
  color: white;
}
