@import "../../../node_modules/bootstrap";
@import "../../Common/styles/Variables.scss";

.ui-login-card {
  @extend .col-sm-12;
  @extend .card;
  max-width: 350px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: $uiElementBorderRadius;
  background-color: $uiElementBasicBgColor;
}
.ui-login-card-body {
  @extend .card-body;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui-login-remember-me {
  color: white;
  margin-left: 20px;
}

.links {
  color: white;
}
